/* Thanks to: https://stackoverflow.com/a/29354766 */
span.game-black-card:empty:before {
  content: "\200b";
}
span.game-white-card:empty:before {
  content: "\200b";
}
span.game-black-card {
  color: white;
  background-color: black;
  display: inline-block;
  width: 2em;
  line-height: 4em;
  margin: 1em;
  text-align: center;
  font-weight: bold;
}
span.game-white-card {
  color: black;
  background-color: lightgray;
  display: inline-block;
  width: 2em;
  line-height: 4em;
  margin: 1em;
  text-align: center;
  font-weight: bold;
}
span.game-player-index:empty:before {
  content: "\200b";
}
span.game-player-index {
  display: inline-block;
  width: 4em;
  line-height: 4em;
  text-align: right;
}
span.game-player-index-current-turn {
  display: inline-block;
  line-height: 4em;
  margin: 1em;
  text-align: right;
}
span.game-player-index-you:empty:before {
  content: "\200b";
}
span.game-player-index-you {
  display: inline-block;
  width: 3em;
  line-height: 4em;
  margin: 1em;
  text-align: right;
}
